@import "./__variables";
@import "./mixins";
@import "./navigator.scss";

html{
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    margin:0px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


a {
    color: $color_white;

    &:hover {
        color:  $color_grey;
    }
}

h1{
    margin:10px 0px;
}
p{
    margin: 8px 0px;
}

.colm_1{
    width: 10%;
}
.colm_15{
    width: 15%;
}
.colm_2{
    width: 20%;
}
.colm_25{
    width: 25%;
}
.colm_3{
    width: 20%;
}
.colm_4{
    width:40%;
}
.colm_5{
    width: 50%;
}
.colm_6{
    width: 60%;
}
.colm_7{
    width: 70%;
}
.colm_75{
    width: 75%;
}
.colm_8{
    width:80%;
}
.colm_9{
    width: 90%;
}
.colm_10{
    width: 100%;
}

@media screen and (max-width: $tablet_size){
    .tablet_1{
        width: 10%;
    }
    .tablet_2{
        width: 20%;
    }
    .tablet_25{
        width: 25%;
    }
    .tablet_33{
        width: 33%;
    }
    .tablet_35{
        width: 35%;
    }
    .tablet_5{
        width: 50%;
    }
    .tablet_7{
        width: 70%;
    }
    .tablet_10{
        width: 100%;
    }
}

@media screen and (max-width: $mobile_size){
    .mobile_1{
        width: 10%;
    }
    .mobile_2{
        width: 20%;
    }
    .mobile_25{
        width: 25%;
    }
    .mobile_3{
        width: 30%;
    }
    .mobile_33{
        width: 33%;
    }
    .mobile_5{
        width: 50%;
    }
    .mobile_10{
        width: 100%;
    }
}

.fixed_top{
    position: fixed;
    @extend .colm_10;
}

.divider{
    background: linear-gradient(180deg, #b4bcc7 15%, #fff 100%);
    width: 100%;
}
.a5c3ae81-6292-4884-a9da-5cd2e4fd1996,
.b533261b-ff14-423f-91bb-298c31a4c3f7,
.b57183d7-6f99-42b1-8e28-48d4adad0dc0 {
    fill: #6f7080;
}
.b57183d7-6f99-42b1-8e28-48d4adad0dc0 {
    opacity: 0.5;
}
.a5c3ae81-6292-4884-a9da-5cd2e4fd1996 {
    opacity: 0.4;
}

#footer-divider{
    margin-bottom: -20px;
    z-index: -33;
    display: block;
    position: relative;
}
#footer-divider svg{
    background: white;
    
}

.cls-1{opacity:0.2;}.cls-2{opacity:1; fill: #707281}

@import "./myinfo_section.scss";
@import "./myexperience_section.scss";
@import "./myskills_section.scss";
@import "./footer.scss";