

.navigator {
    @extend .colm_10;
    z-index: 1000;
    clip-path: polygon(0 0, 100% 0, 10% 100%, 0 100%);
    font-size: 20px;
    background-color: $primary_top;
    display: flex;
    
    .nav_logo_container img{
        width: 75px;
        justify-content: center;
    }
    .nav_menu_container {
        display: flex;
        flex-direction: row;
        @extend .colm_10;
        
        ul{
            display: flex;
            list-style: none;
            
            li a{
                text-decoration: none;
                font-size: 25px;
            padding: 10px;
            }
        }
    }
}
