body,
html {
    height: 100%;
}
a {
    color: #a9aab0;
}
a:hover {
    color: rgba(255, 255, 255, 0.75);
}
.h1,
h1 {
    font-size: 4rem;
    font-weight: 700;
}
.p,
p {
    font-size: 1.5em;
    font-weight: lighter;
}
.plittle {
    font-size: 14px;
}
.row {
    margin: auto 0;
}
.row .social {
    flex-wrap: unset;
    text-align: center;
}
.navigator {
    z-index: 1000;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 10% 100%, 0 100%);
    font-size: 20px;
    background-color: #271b29 !important;
}
.navDiv {
    display: flex;
}
.navDiv img {
    width: 75px;
    height: 75px;
}
.navDiv a {
    font-size: 25px;
    padding: 10px;
}
.myinfo {
    background-image: url(assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    z-index: 0;
}
.myinfo-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.myinfo h1 {
    font-size: 62px;
    color: #fff;
}
.first {
    width: 100%;
    padding: 15vw 10vw 10vw 10vw;
}
.first img {
    width: 75%;
    border-radius: 15px;
    box-shadow: 0 0 47px -18px rgba(0, 0, 0, 0.75);
}
.myName {
    width: 100%;
}
.myName p {
    color: #ece0e0;
}
.myName .social img {
    width: 75%;
}
.social img {
    box-shadow: 0 0 18px 1px rgba(255, 255, 255, 0.4);
    border-radius: 25%;
}
.social-img {
    width: 100%;
}
.b890260e-8575-4ee1-ae46-c5679f57e08f {
    opacity: 0.1;
}
.a98123a6-64c7-41ed-a8a5-20a6749482e0 {
    opacity: 0.2;
}
.a9baf196-db82-4efb-b0ff-bbc54f1abfa9 {
    opacity: 0.4;
}
#sectionproject {
    background: linear-gradient(180deg, #111c30 0, #828c95 64%, #b5bdc8 100%);
    padding: 5vw;
}
#sectionproject .row,
#sectionproject img {
    width: 100%;
    text-align: center;
}
.myprojectmain {
    padding-top: 3vw;
}
.myprojectmain h3 {
    color: #fff;
    padding: 1vw 0;
}
.link {
    text-decoration: none !important;
}
.myProject {
    z-index: 2;
    position: relative;
}
.divider {
    background: linear-gradient(180deg, #b4bcc7 15%, #fff 100%);
    width: 100%;
}
.a5c3ae81-6292-4884-a9da-5cd2e4fd1996,
.b533261b-ff14-423f-91bb-298c31a4c3f7,
.b57183d7-6f99-42b1-8e28-48d4adad0dc0 {
    fill: #6f7080;
}
.b57183d7-6f99-42b1-8e28-48d4adad0dc0 {
    opacity: 0.5;
}
.a5c3ae81-6292-4884-a9da-5cd2e4fd1996 {
    opacity: 0.4;
}
#sectionproject h1 {
    color: #fff;
}
#sectionStory {
    background: url(assets/storyBackground-01.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.stories {
    padding: 1vw 5vw;
}
#sectionStory .row {
    width: 100%;
    text-align: center;
}
.storymain {
    padding: 3vw 0;
}
.mystory h1 {
    padding-top: 1vw;
}
#sectionStory img {
    width: 100%;
    text-align: center;
}
.testimonial {
    padding: 0 20vw;
}
.mystory {
    z-index: 2;
    position: relative;
}
.colprojects h2 {
    padding: 1vw;
}
blockquote {
    font-family: Georgia, serif;
    font-size: 1.5rem;
    font-style: italic;
    width: 100%;
    margin: 0.25em 0;
    padding: 0.35em 20px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}
blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}
blockquote cite {
    color: #999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
blockquote cite:before {
    content: "\2014 \2009";
}
#sticky-footer {
    padding: 0 !important;
    bottom: 0;
    flex-shrink: none;
    position: static;
    background: #707281;
}
.footerlayout {
    padding: 2vw;
}
.footer-notes {
    padding: 2vw;
    text-align: center;
}
.footer-notes p {
    margin: 0;
    text-align: justify;
}
.footer-notes a {
    text-decoration: none;
}
.footer-notes button {
    margin: 5px;
    text-align: center;
    padding: 3px;
}
.footerlinks {
    display: flex;
}
.footerlinks a {
    width: 100%;
}
.footerLogo img {
    width: 150px;
    height: 150px;
}
.copyrights {
    background-color: #212121;
    padding: 1vw;
    bottom: 0;
}
.copyrights p {
    line-break: auto;
    text-align: center;
    vertical-align: middle;
}
.footerlinks,
.privacy {
    padding: 0 5px;
}
@media only screen and (max-width: 1366px) {
    .myName h1,
    h1 {
        font-size: 50px;
    }
}
@media only screen and (max-width: 768px) {
    .h1,
    h1 {
        font-size: 3em;
    }
    .p,
    p {
        font-size: 1.3em;
    }
    .first {
        padding: 20vw 3vw 0 3vw;
    }
    .first img {
        width: 100%;
    }
    .myinfo h1 {
        font-size: 33px;
    }
    .myinfo-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .myName .social img {
        width: 100%;
    }
    .footerlayout p {
        font-size: 1.1em;
    }
}
@media only screen and (max-width: 1024px) {
    .myinfo h1,
    h1 {
        font-size: 38px;
    }
    .myinfo-img {
        margin: auto;
    }
    .myinfo-img img {
        width: 100%;
    }
    .myName .social img {
        width: 100%;
    }
    .testimonial {
        padding: 0 10vw;
    }
}
@media only screen and (max-width: 834px) {
    .myinfo h1,
    h1 {
        font-size: 30px;
    }
    .footerlayout p {
        font-size: 1.1em;
    }
}
@media only screen and (max-width: 1112px) {
    .myinfo h1,
    h1 {
        font-size: 30px;
    }
    .footerlayout p {
        font-size: 1.1em;
    }
}
@media only screen and (max-width: 740px) {
    .p p {
        text-align: center;
    }
    .first {
        padding: 30vw 3vw 0 3vw;
        text-align: center;
        flex-direction: column-reverse;
    }
    .first img {
        width: 75%;
    }
    .myName .social img {
        width: 75%;
        margin-bottom: 20px;
    }
    .social-img {
        width: 50%;
    }
    .myinfo-img {
        margin-bottom: 10px;
    }
    .footerlayout p {
        font-size: 1.2em;
        text-align: center;
    }
}
